@font-face {
    font-family: 'byekan';
    src: url('../fonts/Parastoo/Parastoo.eot');
    src: url('../fonts/Parastoo/Parastoo.woff') format('woff');
    url('../fonts/Parastoo/Parastoo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p{
    font-family: "byekan";
}